@model IEnumerable<EmployeeViewModel>

<h3 class="display-4">Employees</h3>
<button class="btn btn-success" data-toggle="modal" data-target="#Insert"> Create New Employee</button>

<div class="modal fade" id="Insert" role="dialog">
    <div class="modal-dialog">
        
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Employee Details</h4>
                <button type="button"  class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="createform">
                    <label>Name:</label><br>
                    <input type="text" style="width:100%" id="name" name="name"  placeholder="Enter The Name" pattern="[A-Za-z\s\.]{1,15}" required><br>
                    <label>Employee_Id:</label><br>
                    <input type="number" style="width:100%" id="employee_Id" name="employee_Id" placeholder="Enter The Employee_Id"  min="1" required><br>
                    <label>Department_Name:</label><br>                  
                     <select style="width:100%" name="department_Name" id="department_Id">
                     <option value="1">CEO</option>
                     <option value="2">HR</option>
                     <option value="3">MANAGER</option>
                     <option value="4">EXECUTIVE</option>
                    
                    </select>

                    <br><label>Age:</label><br>
                    <input type="number" style="width:100%" id="age" name="age" required placeholder="Enter The Age" min="20" max="55" ><br>
                    <label>Address:</label><br>
                    <input type="text" style="width:100%" id="address" name="address" required placeholder="Enter The Address" pattern="[A-Za-z\s\.\,]{1-15}" maxlength="30"><br><br><br>
                    <input type="submit" value="create" >
                </form>

            </div>

        </div>

    </div>

</div>


<div class="modal fade" id="Update" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Employee Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="Updateform">
                    <label>Id:</label><br>
                    <input type="text" style="width:100%" id="idEdit" name="id" /><br>
                    <label>Name:</label><br>
                    <input type="text" style="width:100%" id="nameEdit" name="name" required pattern="[A-Za-z\s\.]{1,15}"><br>
                    <label>Employee_Id:</label><br>
                    <input type="number" style="width:100%" id="employee_IdEdit" name="employee_Id"  required min="1"><br>
                    <label>Department_Name:</label><br>
                    <select style="width:100%" id="department_IdEdit" name="department_Name">
                        <option value="1">CEO</option>
                        <option value="2">HR</option>
                        <option value="3">MANAGER</option>
                        <option value="4">EXECUTIVE</option>
                    </select>
                    <br><label>Age:</label><br>
                    <input type="number" style="width:100%" id="ageEdit" name="age" required min="20" max="55" ><br>
                    <label>Address:</label><br>
                    <input type="text" style="width:100%" id="addressEdit" name="address" required pattern="[A-Za-z\s\.\,]{1-45}" maxlength="30"><br><br><br>
                    <input type="submit" value="Update">
                </form>

            </div>

        </div>

    </div>

</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                <b>Id</b>
            </td>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Department_Name</b>
            </td>
            <td>
            </td>
        </tr>

    </thead>
    @foreach (var employee in Model)
    {
<tr>
    <td>@employee.Id</td>
    <td>@employee.Name</td>
    <td>@employee.Department_Name</td>
    <td>
        <button class="btn btn-primary employeeDetails" data-id="@employee.Id"> Details</button>
        <button class="btn btn-info employeeEdit" data-toggle="modal" data-target="#Update" data-id="@employee.Id"> Edit</button>
        <button class="btn btn-danger employeeDelete" data-id="@employee.Id"> Delete</button>
    </td>
</tr>}
</table>

<div id="EmployeeCard">

</div>

@section Scripts
{
    <script src="~/js/employee.js"></script>
}




